ENABLE_DUMMY_PIPELINE=false
PM_ROOT=/Users/lucy/fun/pm
PM_LEAN_OUT=out
FORKCAST_DATA_REPO=/Users/lucy/fun/forkcast-data
FORKCAST_DATA_GITHUB_REPO=dionysuzx/forkcast-data
GITHUB_TOKEN=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_REFRESH_TOKEN=
YOUTUBE_API_KEY=
YOUTUBE_REFRESH_TOKEN=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
